.form {
  background-color: rgb(6, 63, 14);
  text-align: center;
  font-size: 30px;
  margin: 10% 20%;
  padding-bottom: 20px;
  border-radius: 15px;
}
.currency {
  display: flex;
  flex-direction: column;
}

.button {
  color: white;
  padding: 2px 15px;
  margin: 5px;
  border-radius: 5px;
}
.button:hover {
  opacity: 0.8;
}
.button_save {
  background-color: green;
}
.button_load {
  background-color: rgb(190, 160, 102);
}
.currency-selection {
  margin: 10px 0;
  color: wheat;
}
h2 {
  color: yellow;
  padding-top: 20px;
}
.text {
  height: 30px;
  background-color: wheat;
  border-radius: 8px;
}
