.form {
  background-color: rgb(6, 63, 14);
  text-align: center;
  margin: 5% 20%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 30px;
}
.currency {
  display: flex;
  flex-direction: column;
}

.button {
  color: white;
  padding: 2px 15px;
  margin: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.button:hover {
  opacity: 0.8;
}
.button_save {
  background-color: green;
}
.button_load {
  background-color: rgb(190, 160, 102);
}
.currency-selection {
  font-size: 25px;
  margin: 10px 0;
  color: wheat;
}
h2 {
  color: yellow;
  padding-top: 10px;
  font-size: 25px;
}
.text {
  height: 30px;
  background-color: wheat;
  border-radius: 8px;
}
